USE [master]
GO
/****** Object:  Database [CarInsurance]    Script Date: 21.05.2023 22:14:43 ******/
CREATE DATABASE [CarInsurance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarInsurance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CarInsurance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarInsurance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CarInsurance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarInsurance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarInsurance]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
	[Horsepower] [float] NOT NULL,
	[VIN] [nvarchar](100) NOT NULL,
	[DriverId] [int] NOT NULL,
	[Passport] [nvarchar](150) NOT NULL,
	[DateOfPurchase] [date] NOT NULL,
	[ModelsId] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casco]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
	[CarId] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Casco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Surname] [nvarchar](150) NOT NULL,
	[Patronic] [nvarchar](150) NOT NULL,
	[PassportData] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DriverLicense] [nvarchar](10) NOT NULL,
	[Experience] [date] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[BlackList] [bit] NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyApplication]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[DateEmergency] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[ApplicationType] [int] NOT NULL,
 CONSTRAINT [PK_EmergencyApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](150) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](150) NOT NULL,
	[Year] [nvarchar](50) NOT NULL,
	[ModelYear] [nvarchar](200) NULL,
	[Price] [nvarchar](20) NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Osago]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
	[CarId] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Osago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoEmergency]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoEmergency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmergencyApplicationId] [int] NOT NULL,
	[Photo] [image] NOT NULL,
 CONSTRAINT [PK_PhotoEmergency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CoefficientForOsago] [float] NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Surename] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.05.2023 22:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([Id], [Name]) VALUES (1, N'BMW')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (2, N'Audi')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (3, N'FIAT')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([Id], [Number], [Horsepower], [VIN], [DriverId], [Passport], [DateOfPurchase], [ModelsId]) VALUES (3, N'T074MM16', 276, N'ADFSDFAOK345325', 1, N'78TO1234NASDF', CAST(N'2010-01-28' AS Date), 325)
INSERT [dbo].[Car] ([Id], [Number], [Horsepower], [VIN], [DriverId], [Passport], [DateOfPurchase], [ModelsId]) VALUES (5, N'T074MM116', 270, N'asdfqwer1234', 1, N'qwerasdf12341324', CAST(N'2007-01-01' AS Date), 146)
INSERT [dbo].[Car] ([Id], [Number], [Horsepower], [VIN], [DriverId], [Passport], [DateOfPurchase], [ModelsId]) VALUES (7, N'T056MM116', 234, N'asdfasdfaqwer', 1, N'25TX205766', CAST(N'0001-01-01' AS Date), 155)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Casco] ON 

INSERT [dbo].[Casco] ([Id], [DriverId], [DateStart], [DateEnd], [CarId], [Price]) VALUES (23, 1, CAST(N'2023-05-19' AS Date), CAST(N'2024-05-19' AS Date), 3, 27081.600000000002)
INSERT [dbo].[Casco] ([Id], [DriverId], [DateStart], [DateEnd], [CarId], [Price]) VALUES (24, 1, CAST(N'2023-05-19' AS Date), CAST(N'2024-05-19' AS Date), 1004, 85818.849597000008)
SET IDENTITY_INSERT [dbo].[Casco] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([Id], [UserId], [Name], [Surname], [Patronic], [PassportData], [Phone], [Email], [DriverLicense], [Experience], [DateOfBirth], [BlackList]) VALUES (1, 8, N'Arthur', N'Aipov', N'Timurovich', N'1234990011', N'9870084416', N'aipov2@gmail.com', N'1234567891', CAST(N'2003-08-23' AS Date), CAST(N'1985-07-18' AS Date), 0)
INSERT [dbo].[Driver] ([Id], [UserId], [Name], [Surname], [Patronic], [PassportData], [Phone], [Email], [DriverLicense], [Experience], [DateOfBirth], [BlackList]) VALUES (2, 1, N'Arthur', N'Aipov', N'Timurovich', N'1234990013', N'9870084416', N'aipov2@gmail.com', N'1234567890', CAST(N'2003-08-23' AS Date), CAST(N'1999-01-20' AS Date), 1)
INSERT [dbo].[Driver] ([Id], [UserId], [Name], [Surname], [Patronic], [PassportData], [Phone], [Email], [DriverLicense], [Experience], [DateOfBirth], [BlackList]) VALUES (3, 7, N'Arthur', N'Aipov', N'Timurovich', N'1234123412', N'1111222333', N'aipov2@gmail.com', N'1234657892', CAST(N'2023-05-15' AS Date), CAST(N'2005-01-19' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[EmergencyApplication] ON 

INSERT [dbo].[EmergencyApplication] ([Id], [DriverId], [CarId], [DateEmergency], [StatusId], [Price], [ApplicationType]) VALUES (6, 1, 7, CAST(N'2023-05-21T00:00:00.000' AS DateTime), 3, 0, 1)
INSERT [dbo].[EmergencyApplication] ([Id], [DriverId], [CarId], [DateEmergency], [StatusId], [Price], [ApplicationType]) VALUES (7, 1, 7, CAST(N'2023-05-21T00:00:00.000' AS DateTime), 2, 1111111, 1)
INSERT [dbo].[EmergencyApplication] ([Id], [DriverId], [CarId], [DateEmergency], [StatusId], [Price], [ApplicationType]) VALUES (8, 1, 7, CAST(N'2023-05-21T00:00:00.000' AS DateTime), 3, 0, 1)
SET IDENTITY_INSERT [dbo].[EmergencyApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([Id], [Make], [ModelName], [Category], [Year], [ModelYear], [Price]) VALUES (1, N'BMW', N'1 Series', N'Coupe, Convertible', N'2013', N'1 Series 2013', N'1000000')
INSERT [dbo].[Model] ([Id], [Make], [ModelName], [Category], [Year], [ModelYear], [Price]) VALUES (2, N'BMW', N'1 Series', N'Convertible, Coupe', N'2012', N'1 Series 2012', N'1200000')
INSERT [dbo].[Model] ([Id], [Make], [ModelName], [Category], [Year], [ModelYear], [Price]) VALUES (3, N'BMW', N'1 Series', N'Coupe, Convertible', N'2011', N'1 Series 2011', N'1500000')
GO
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[Osago] ON 

INSERT [dbo].[Osago] ([Id], [DriverId], [RegionId], [DateStart], [DateEnd], [CarId], [Price]) VALUES (8, 1, 1, CAST(N'2023-05-20' AS Date), CAST(N'2024-05-20' AS Date), 7, 10886.208)
SET IDENTITY_INSERT [dbo].[Osago] OFF
GO
SET IDENTITY_INSERT [dbo].[PhotoEmergency] ON 

SET IDENTITY_INSERT [dbo].[PhotoEmergency] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([Id], [Name], [CoefficientForOsago]) VALUES (1, N'Республика Адыгея', 1.24)
INSERT [dbo].[Region] ([Id], [Name], [CoefficientForOsago]) VALUES (2, N'Горно-Алтайск', 1.24)
INSERT [dbo].[Region] ([Id], [Name], [CoefficientForOsago]) VALUES (3, N'Прочие города', 0.76)
GO
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Бухгалтер')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [UserId], [Name], [Surename], [Phone], [Email]) VALUES (1, 2, N'Arthur', N'Aipov', N'9870084416', N'aipov2@gmail.com')
INSERT [dbo].[Staff] ([Id], [UserId], [Name], [Surename], [Phone], [Email]) VALUES (2, 3, N'qwerqwerqwer', N'qwerqwerqwer', N'2134123412', N'a@gmail.com')
INSERT [dbo].[Staff] ([Id], [UserId], [Name], [Surename], [Phone], [Email]) VALUES (3, 10, N'lkj', N'lkjh', N'1234123412', N'f@gmail.com')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Одобрено')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Отклонено')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'На обработке у оценщика')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (1, N'1', N'1', 3)
INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (2, N'2', N'2', 1)
INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (3, N'3', N'3', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Driver]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Model] FOREIGN KEY([ModelsId])
REFERENCES [dbo].[Model] ([Id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Model]
GO
ALTER TABLE [dbo].[Casco]  WITH CHECK ADD  CONSTRAINT [FK_Casco_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
GO
ALTER TABLE [dbo].[Casco] CHECK CONSTRAINT [FK_Casco_Car]
GO
ALTER TABLE [dbo].[Casco]  WITH CHECK ADD  CONSTRAINT [FK_Casco_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
GO
ALTER TABLE [dbo].[Casco] CHECK CONSTRAINT [FK_Casco_Driver]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_User]
GO
ALTER TABLE [dbo].[EmergencyApplication]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyApplication_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
GO
ALTER TABLE [dbo].[EmergencyApplication] CHECK CONSTRAINT [FK_EmergencyApplication_Car]
GO
ALTER TABLE [dbo].[EmergencyApplication]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyApplication_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
GO
ALTER TABLE [dbo].[EmergencyApplication] CHECK CONSTRAINT [FK_EmergencyApplication_Driver]
GO
ALTER TABLE [dbo].[EmergencyApplication]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyApplication_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[EmergencyApplication] CHECK CONSTRAINT [FK_EmergencyApplication_Status]
GO
ALTER TABLE [dbo].[Osago]  WITH CHECK ADD  CONSTRAINT [FK_Osago_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([Id])
GO
ALTER TABLE [dbo].[Osago] CHECK CONSTRAINT [FK_Osago_Car]
GO
ALTER TABLE [dbo].[Osago]  WITH CHECK ADD  CONSTRAINT [FK_Osago_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
GO
ALTER TABLE [dbo].[Osago] CHECK CONSTRAINT [FK_Osago_Driver]
GO
ALTER TABLE [dbo].[Osago]  WITH CHECK ADD  CONSTRAINT [FK_Osago_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[Osago] CHECK CONSTRAINT [FK_Osago_Region]
GO
ALTER TABLE [dbo].[PhotoEmergency]  WITH CHECK ADD  CONSTRAINT [FK_PhotoEmergency_EmergencyApplication] FOREIGN KEY([EmergencyApplicationId])
REFERENCES [dbo].[EmergencyApplication] ([Id])
GO
ALTER TABLE [dbo].[PhotoEmergency] CHECK CONSTRAINT [FK_PhotoEmergency_EmergencyApplication]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
